body {
	font-family: 'Great Vibes', cursive;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	background-repeat: repeat;
	background-position: center center;
	background-size: 100%;
}

iframe{
	border: none;
}
a, b, div, ul, li{
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	-webkit-tap-highlight-color: transparent; 
	-moz-outline-: none;
}
a,
a:hover,
a:focus,
a:active {
	color: red;
}

h1,h2,h3,h4,h5,h6,a,ul,li{
	line-height: 1;
}
.clear-both:before, 
.clear-both:after{
	display: table;
	content: "";
	clear: both;
}
.section-padding {
	padding: 150px 0;
}
.content-margin-top {
	margin-top: 80px;
}
.the-heart-spilt-container {
	width: 50%;
	float: left;
}
.the-heart-welcome-tbl {
	height: 100vh;
	width: 100%;
}
.the-heart-welcome-tbl-c {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.the-heart-tbl {
	display: table;
	height: 100%;
	width: 100%;
}
.the-heart-tbl-c {
	left: 50%;
	position: absolute;
	top: 55%;
	transform: translate(-50%, -50%);
	width: 100%;
}
.the-heart-section-heading {
	text-align: center;
	position: relative;
	z-index: 6;
	margin-bottom: 70px;
}
.the-heart-section-heading h4 {
	font-size: 1.333em;
	margin: 0;
	margin-bottom: 18px;
}
.the-heart-section-heading h2 {
	margin: 0;
	font-size: 2.667em;
}



/* Graet Vides Fonts */
h1,h2,h3,h4 {
	font-family: 'Great Vibes', cursive;
	font-weight: 700;
}
.the-heart-time ,
.the-heart-time-txt,
.the-heart-gift-registry-single-item figure figcaption a,
.inner-footer .the-heart-footer-content h5 ,
.the-heart-single-married-time p ,
.the-heart-like-and-comment li ,
.the-heart-social-list-2 li a ,
.the-heart-social-list-2 li p {
	font-family: 'Great Vibes', cursive;
	font-weight: 700;
}

.the-heart-welcome-section {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	z-index: 2;
	height: 100vh;
	width: 100%;
}
.the-heart-welcome-section::before {
	background: #fff none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	width: 100%;
	z-index: -1;
}


.the-heart-welcome-section.black-overly .the-heart-welcome-content {
  	color: rgb(0, 0, 0);
}
.the-heart-welcome-floral-bg {
	position: relative;
	width: 100%;
	height: 100%;
}

.the-heart-welcome-content {
	position: relative;
	z-index: 10;
	margin-bottom: 25px;
}

.the-heart-welcome-content h1 {
	font-size: 6.667em;
	margin: 0;
	margin-bottom: 11px;
	font-weight: 700;
}
.the-heart-welcome-content h4 {
	margin: 0;
	font-size: 1.667em;
	margin-bottom: 57px;
	font-weight: 400;
}
.the-heart-floral-txt {
	position: relative;
}


.the-heart-floral-txt h3 {
	margin: 0;
	font-size: 1.333em;
	font-weight: 700;
}

.black-overly .the-heart-floral-txt h3{
	color: rgb(0, 0, 0);
}

/*v6*/
canvas {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 1;
}

/*v9*/

.effect-text {
  font-size: 50px;
  color: #edf2f4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.single-text {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    margin-bottom: 57px;
    color: #000;
    text-align: center;
}

.timer-text {
	font-family: 'Great Vibes';
    font-weight: bold;
    margin: 0;
    font-size: 23px;
    margin-bottom: 60px;
    color: #000;
    text-align: center;
}

.version-9 .the-heart-floral-txt{
	color: #fff;
}
.tiny-heart {
  position: absolute;
  opacity: 0;
  background-color: #D90429;
  box-shadow: 0px 0px 50px 4px rgba(239, 35, 60, 0.7);
  animation: animated-heart infinite ease-in;
}
.tiny-heart:before, .tiny-heart:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #D90429;
}
.tiny-heart:before {
  transform: translateX(-50%);
}
.tiny-heart:after {
  transform: translateY(-50%);
}

@keyframes animated-heart {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(45deg);
  }
  50% {
    opacity: 1;
    transform: translate(0, -40%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}
/* For mobile: */
@media screen and (max-width: 600px) {
	.the-heart-welcome-content > h1:nth-child(1) {
		font-size: 60px;
	}

	.the-heart-welcome-tbl-c {
		top: 57%;
	  }
	}
/* For mobile end */